<div class="col-md-3 mx-auto">
  <h4 class="mt-5">ジャンル</h4>
  <% genres.each do |genre| %>
    <ul>
      <li>
        <%= link_to bygenre_game_path do %>
        <%= genre.name %>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>