<div class="col-md-3 mx-auto">
  <h4 class="mt-5 text-center text-light bg-secondary">ジャンル</h4>
  <% genres.each do |genre| %>
    <ul class="list-unstyled">
      <li>
        <%= link_to games_path(genre_id: genre.id) do %>
          <div class="text-dark"><%= genre.name %></div>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>