<div class="container">
<h2>ジャンル：<%= @games.genre.name %></h2>
  <% @games.each do |game| %>
    <div class="burger">
      <%= game.name %>
      <%= game.explanation %>
    </div>
  <% end %>
</div>
