<div class="container">
  <div class="row">
    <div class="col mx-auto">
      <h3 class="mt-5 text-center">ゲーム一覧</h3>
      <div class="mt-5 text-center">
        <% @games.each do |game| %>
          <table class="table table-hover table-inverse table-bordered">
            <tbody>
              <tr>
                <td>タイトル</td>
                <td>
                  <%= link_to game_path(game.id) do %>
                    <strong><%= game.name %></strong>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>ジャンル</td>
                <td><%= game.genre.name %></td>
              </tr>
              <tr>
                <td>概要</td>
                <td><%= game.explanation %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>