<div class="row">
  <div class="col mx-auto">
    <table>
      <tr>
        <th>ゲームタイトル</th>
        <td><%= @game.name %></td>
      </tr>
      <tr>
        <th>概要</th>
        <td><%= @game.explanation %></td>
      </tr>
    </table>
  </div>
</div>