<h2>検索結果</h2>

<table class="table table-hover table-inverse">
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.explanation %></td>
        <td>レビュー件数：<%= game.reviews.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
