<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h3 class="mt-5 text-center">このサイトについて</h3>
      <p>ご訪問ありがとうございます！</p>
      <p>このサイトはまだ知らないゲームの魅力を発掘していきたいがために作られたサイトです。</p>
    </div>
  </div>
</div>
