<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h3 class="mt-5 text-center">このサイトについて</h3>
      <p>ご訪問ありがとうございます！</p>
      <p>このサイトはまだ知らないゲームの魅力を発掘していきたくて作ったサイトです。</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h3 class="mt-5 text-center">このサイトの利用方法</h3>
      <p>管理者がプレイしたことがあるゲームの感想を投稿していきます。</p>
      <p>会員登録をしなくてもレビューは閲覧可能です。</p>
      <p>ご自身のレビューを投稿する場合は新規登録が必要です。</p>
    </div>
  </div>
</div>
