<header>
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fas fa-home fa-lg"></i>
      My Game
    </a>
  </div>
  <div class="row">
    <div class="col mx-auto">
    </div>
  </div>
</header>

